{% var createdAt = importer.has('created_at') ? Date.parse(importer.get('created_at')) : -1; %}
%div{:id => "import-{{importer.id.replace('$', '')}}", :class => ["photo-manager/home/library/import", "import-collection"], "data-created_at" => "{{createdAt}}"}
  %div.import-header
    %div.import-pip
    {% numPhotos = (numPhotos !== undefined) ? numPhotos : (importImages && importImages.length) ? importImages.length : importer.get('num_imported'); %}
    %div{:class => "import-count"} {{numPhotos}} Photos
    %div{:class => "import-date"}
      %span Imported:
      {% var importedDate = importer.has('completed_at') ? importer.get('completed_at') : ''; %}
      {% importedDate = (importedDate === '') && importer.has('updated_at') ? importer.get('updated_at') : importedDate; %}
      {% importedDate = (importedDate === '') && importer.has('started_at') ? importer.get('started_at') : importedDate; %}
      {% importedDate = (importedDate === '') && importer.has('created_at') ? importer.get('created_at') : importedDate; %}
      {% formatedDate = formatDate(importedDate, true); %}
      != "{{formatedDate}}"
    = partial "html/photo-manager/templates/home/library/select-all", :locals => { :selectScope => "importer" }
    = partial "html/photo-manager/templates/home/library/pagination-controls"
    .clearfix

  %div{:class => "import-photos-collection"}
    != '{% importImages && importImages.length && importImages.each(function(image) { %}'
    != '  {{ _.template(imageTemplate, { image : image, importStatus : importStatus, _ : _ }) }}'
    != '{% }); %}'
