-#
-# photo-manager/templates/home/libary/import-image:
-#
-#  Args:
-#    image - The image to render.
-#    importStatus - Corresponds to the last components of the image's import event, ie: remove import.image fro the event.
-#      created | variant.created | imported
-#
!= '{% var importStatusValue = importStatus ? importStatus : "imported"; %}'
%div{:class => "photo", "data-id" => "{{image.get('id')}}", "data-import-status" => "{{importStatusValue}}"}
  != '{% var thumbnail = _.first(_.filter(image.get(\'variants\'), function(variant) { return variant.url && (variant.name === \'thumbnail.jpg\'); })); %}'
  != '{% var fullSmall = _.first(_.filter(image.get(\'variants\'), function(variant) { return variant.url && (variant.name === \'full-small.jpg\'); })); %}'
  != '{% thumbnail = thumbnail || fullSmall || image.attributes %}'
  != '{% fullSmall = fullSmall || thumbnail || image.attributes %}'
  != '{% var orientationClass = (thumbnail.size.width === thumbnail.size.height)? "square-orientation" : (thumbnail.size.width > thumbnail.size.height) ? "landscape-orientation" : "portrait-orientation"; %}'

  %div{:class => "photo-thumbnail-cell"}
    -#
    -# Notes: 
    -#  1. The data-url-full-small attribute points to the full-small variant to use in a lightbox. 
    -#  The attrbitue should be access using camel case, ie: urlFullSmall.
    -#
    %img{:class => "photo-link photo-thumbnail {{orientationClass}}", "data-url-full-small" => "{{fullSmall.url}}", :src => "{{thumbnail.url}}"}

  %div{:class => "photo-caption"}
    %label{ :class => "plm-cb-label", :title =>  "{{ image.get('name').replace(/^\$/, '') }}" }
      %input{ :type => "checkbox", :class => "plm-cb", "data-select-scope" => "image" }
      %span.cb-img
      %span.cb-text
        != "{{ image.get('name').replace(/^\$/, '') }}"
    -# %img{:class => "edit-photo", :src => "/imgs/Pencil.png"}
