%div.photo-set-collection
  %div.photo-set-header
    %div.photo-set-pip
    {% numPhotos = (numPhotos !== undefined) ? numPhotos : (images && images.length) ? images.length : "" %}
    %div{:class => "photo-set-size"} {{numPhotos}} Photos
    = partial "html/photo-manager/templates/home/library/select-all", :locals => { :selectScope => "photo-set-collection" }
    = partial "html/photo-manager/templates/home/library/pagination-controls"
    .clearfix

  %div{:class => "photo-set-photos-collection"}
    != '{% images.length && images.each(function(image) { %}'
    != '  {{ _.template(photoTemplate, { image : image, _ : _ }) }}'
    != '{% }); %}'
    .clearfix
