%div.trash-photos.photo-set-collection
  %div.trash-photos-header
    %div{:class => "trash-size"} {{_.size(images)}} Photos
    = partial "html/photo-manager/templates/home/library/select-all", :locals => { :selectScope => "trash" }
    = partial "html/photo-manager/templates/home/library/trash-actions"
    .clearfix

  %div{:class => "trash-photos-collection open"}
    != '{% images.length && images.each(function(image) { %}'
    != '  {{ _.template(imageTemplate, { image : image, _ : _ }) }}'
    != '{% }); %}'
    .clearfix
