!!!
- page = ""
- if content_for?(:page_name)
  - page = yield_content :page_name
  - page.chomp!
- view = ""
- if content_for?(:view_name)
  - view = yield_content :view_name
  - view.chomp!
%html
  %head
    %title
      - page_title = "Personal Life Manager"
      - page_title = page_title + " | #{page}" if page != ""
      = page_title
    = stylesheet_link_tag "global"
  %body
    = yield

    -#
    -# Load applications.js in case there's something global that we need.
    -#
    = javascript_include_tag "app/application"
    -#
    -# For now we will assume everything conforms to requirejs loading,
    -# see: requirejs.org/docs/api.html#jsfiles
    -#
    - if view != ""
      -# Note, the use of the parenthesized version as :data-main isn't a valid symbol in a hash.
      %script{ "data-main" => "js/app/#{view}/main.js", :src => "/js/libs/require/require.js"}
    -#
    -# Alternatively, we could yield using content_for for view specific JS, ie:
    -#
    -# = yield :view_specific_js
    -#
